.overlay {
    background-color: var(--custom-primary-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: soft-light;
}

/*
* Banner
*/

#banner-carousel .carousel-control-prev,
#banner-carousel .carousel-control-next {
    top: auto;
    height: calc(23px + 2rem);
}

#banner-carousel .overlay {
    height: 600px;
}

#banner-carousel .content {
    position: absolute;
    top: 0;
    bottom: calc(23px + 2rem);
    margin: 16px 0;
    color: var(--white);
}

/*
* News
*/

#news .news-main-item .overlay {
    height: 500px;
}

#news .news-main-item .content {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    padding: 16px;
    color: var(--white);
}

#news .news-list .list-group-item:hover {
    background-color: var(--custom-primary-color);
    color: var(--white);
}

/*
* Map
*/

#map #leaflet {
	height: 600px;
}

/*
* Media queries
*/

/* Large */
@media screen and (max-width: 960px) {}