{% extends "templates/pages/layout.html" %}

{% block style %}
<link rel="stylesheet" href="/assets/frappe/js/lib/leaflet/leaflet.css">
<style>
	{% include "/templates/pages/home/index.css" %}
</style>
{% endblock %}

{% block script %}
<script>
	{% include "/templates/pages/home/index.js" %}
</script>
{% endblock %}

{% block content %}
<section id="banner-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
	<ol class="carousel-indicators">
		<li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#banner-carousel" data-slide-to="1"></li>
		<li data-target="#banner-carousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="overlay" style="background-image: url('/assets/elicense/images/header-bg.jpg');"></div>
			<div class="container">
				<div class="row">
					<div class="col-auto content">
						<h1 class="font-weight-normal text-white my-4">
							Лицензирование<br />
							ветеринарных объектов
						</h1>
						<h4 class="font-weight-normal text-white my-2">
							Мы предоставляем высококачественные услуги<br />
							по лицензированию ветеринарных объектов для<br />
							обеспечения безопасности и эффективности в<br />
							ветеринарной области.
						</h4>
						<button type="button" class="btn bg-white font-weight-bold text-primary rounded-0 my-2 px-4 py-2">
							{{ _('Submit your application') }}
							<i class="ml-2 fa fa-arrow-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="overlay" style="background-image: url('/assets/elicense/images/header-bg.jpg');"></div>
			<div class="container">
				<div class="row">
					<div class="col-auto content">
						<h1 class="font-weight-normal text-white my-4">
							Лицензирование<br />
							ветеринарных объектов
						</h1>
						<h4 class="font-weight-normal text-white my-2">
							Мы предоставляем высококачественные услуги<br />
							по лицензированию ветеринарных объектов для<br />
							обеспечения безопасности и эффективности в<br />
							ветеринарной области.
						</h4>
						<button type="button" class="btn bg-white font-weight-bold text-primary rounded-0 my-2 px-4 py-2">
							Оставить заявку
							<i class="ml-2 fa fa-arrow-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="overlay" style="background-image: url('/assets/elicense/images/header-bg.jpg');"></div>
			<div class="container">
				<div class="row">
					<div class="col-auto content">
						<h1 class="font-weight-normal text-white my-4">
							Лицензирование<br />
							ветеринарных объектов
						</h1>
						<h4 class="font-weight-normal text-white my-2">
							Мы предоставляем высококачественные услуги<br />
							по лицензированию ветеринарных объектов для<br />
							обеспечения безопасности и эффективности в<br />
							ветеринарной области.
						</h4>
						<button type="button" class="btn bg-white font-weight-bold text-primary rounded-0 my-2 px-4 py-2">
							Оставить заявку
							<i class="ml-2 fa fa-arrow-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#banner-carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#banner-carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</section>

<section id="news" class="py-4">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="font-weight-normal text-primary my-2">
					<img src="/assets/elicense/images/title-icon.svg" class="mb-3" />
					Последние новости
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-7">
				<a href="#" class="news-main-item">
					<div class="overlay" style="background-image: url('/assets/elicense/images/header-bg.jpg');">
					</div>
					<div class="content">
						<span class="text-light">2023-01-10</span>
						<h4 class="text-truncate text-white my-2" title="Состоялось внеочередная Коллегия МСХ КР">
							Состоялось внеочередная Коллегия МСХ КР
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-lg-5">
				<div class="news-list d-flex flex-column h-100">
					<ul class="list-group list-group-flush">
						<a href="#" class="list-group-item list-group-item-action d-flex justify-content-start">
							<img src="/assets/elicense/images/header-bg.jpg" class="w-25" />
							<div class="ml-4 w-75">
								<span class="text-secondary">2023-01-10</span>
								<div class="text-truncate" title="Лесная служба объявляет открытый конкурс">
									Лесная служба объявляет открытый конкурс
								</div>
							</div>
						</a>
						<a href="#" class="list-group-item list-group-item-action d-flex justify-content-start">
							<img src="/assets/elicense/images/header-bg.jpg" class="w-25" />
							<div class="ml-4 w-75">
								<span class="text-secondary">2023-01-10</span>
								<div class="text-truncate" title="Лесная служба объявляет открытый конкурс">
									Лесная служба объявляет открытый конкурс
								</div>
							</div>
						</a>
					</ul>
					<a href="#" class="text-primary ml-auto mt-auto">
						Все новости
						<i class="ml-2 fa fa-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="map" class="py-4">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="font-weight-normal text-primary my-2">
					<img src="/assets/elicense/images/title-icon.svg" class="mb-3" />
					Расположение всех объектов
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="leaflet"></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}