{% block script %}
<script>
    {% include "/templates/includes/login/login.js" %}
</script>
{% endblock %}

<section class='for-login'>
    <form class="px-4 py-3 form-login">
        <div class="form-group">
            <label for="login_email">{{ _('Name') }}</label>
            <input type="text" id="login_email" class="form-control" placeholder="{{ _('Name') }}" required>
        </div>
        <div class="form-group">
            <label for="login_password">{{ _('Password') }}</label>
            <input type="password" id="login_password" class="form-control" placeholder="{{ _('Password') }}" required>
        </div>
        <div class="form-group">
            <a href="#forgot">{{ _('Forgot Password?') }}</a>
        </div>
        <button type="submit" class="btn btn-primary px-3 py-2 w-100">{{ _('Login') }}</button>
    </form>
</section>

<section class='for-forgot'>
    <form class="px-4 py-3 form-forgot hide">
        <div class="form-group">
            <label for="forgot_email">{{ _('Email Address') }}</label>
            <input type="email" id="forgot_email" class="form-control" placeholder="{{ _('Email Address') }}" required>
        </div>
        <div class="form-group">
            <a href="#login">{{ _('Back to Login') }}</a>
        </div>
        <button type="submit" class="btn btn-primary px-3 py-2 w-100">{{ _('Reset Password') }}</button>
    </form>
</section>