{% block style %}
<style>
	{% include "/templates/includes/header/index.css" %}
</style>
{% endblock %}

{% block script %}
<script>
	{% include "/templates/includes/header/index.js" %}
</script>
{% endblock %}

<header class="header">
	<div class="header-top d-none d-lg-block">
		<div class="container">
			<div class="row">
				<div class="col-9 py-2 logo">
					<div>
						<img src="/assets/elicense/images/logo.png" />
					</div>
					<div>
						Департамент ветеринарных лекарственных средств при<br />
						Министерстве водных ресурсов, сельского хозяйства и<br />
						перерабатывающей промышленности Кыргызской Республики
					</div>
				</div>
				<div class="col-3 py-2 social">
					{% include "/templates/includes/social-links/index.html" %}
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container py-2">
			<div class="d-flex d-lg-none w-100 align-items-center justify-content-between">
				<div class="logo">
					<img src="/assets/elicense/images/logo.png" />
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
					aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarContent">
				{% include "/templates/includes/nav-links/index.html" %}
				<ul class="navbar-nav navbar-right">
					<li class="nav-item">
						<div class="dropdown language-switcher">
							<button class="btn custom-dropdown-toggle" type="button">
								<i class="fa fa-globe"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" onclick="frappe.session.set_lang('kg')">
									Кыргызча
								</a>
								<a class="dropdown-item" onclick="frappe.session.set_lang('ru')">
									Русский
								</a>
								<a class="dropdown-item" onclick="frappe.session.set_lang('en')">
									English
								</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<button class="btn custom-dropdown-toggle" type="button">
								<i class="fa fa-user"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-form">
								{% if frappe.session.user != 'Guest' %}
									<a href="/app/user-profile" class="dropdown-item">{{ _('My Profile') }}</a>
									<a onclick="return frappe.session.logout()" class="dropdown-item">{{ _('Logout') }}</a>
								{% else %}
									<ul class="nav nav-fill">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#sign-in" >Вход</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#sign-up">Регистрация</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade show active" id="sign-in">
											{% include "/templates/includes/sign-in-form/index.html" %}
										</div>
										<div class="tab-pane fade" id="sign-up">
											{% include "/templates/includes/sign-up-form/index.html" %}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>