.header {
    color: var(--custom-primary-color);
}

.header-top {
    background-color: #F8F9FA;
    background-image: url("/assets/elicense/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: color-burn;
}

.header-top .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.header-top .logo img {
    max-width: var(--custom-logo-size);
}

.header-top .social a {
    color: var(--custom-primary-color);
}

.navbar .logo {
    max-width: var(--custom-mini-logo-size);
}

.navbar .navbar-nav.navbar-right {
    gap: 8px;
}

.navbar .navbar-nav.navbar-right .nav-item .dropdown-toggle,
.navbar .navbar-nav.navbar-right .nav-item .custom-dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--custom-primary-color);
}

.navbar .navbar-nav.navbar-right .nav-item .dropdown-toggle::after {
    display: none;
}

.navbar .navbar-nav.navbar-right .nav-item .dropdown-menu-form {
    min-width: 250px;
}

.navbar .navbar-nav.navbar-right .nav-item .dropdown-menu-form .nav-link {
    width: 100%;
    border-bottom: 2px solid var(--secondary);
    color: var(--dark);
}

.navbar .navbar-nav.navbar-right .nav-item .dropdown-menu-form .nav-link.active {
    color: var(--custom-primary-color);
    border-color: var(--custom-primary-color);
}