{% block style %}
<style>
    {% include "/templates/includes/nav-links/index.css" %}
</style>
{% endblock %}

<ul class="nav-links navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link active" href="/home">
            <i class="ml-2 fa fa-home"></i>
            Главная
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">
            <i class="ml-2 fa fa-info-circle"></i>
            О нас
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news">
            <i class="ml-2 fa fa-newspaper-o"></i>
            Новости
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/licenses">
            <i class="ml-2 fa fa-list"></i>
            Реестр лицензий
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/faq">
            <i class="ml-2 fa fa-question-circle"></i>
            FAQ
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts">
            <i class="ml-2 fa fa-id-card"></i>
            Контакты
        </a>
    </li>
</ul>