.nav-links.navbar-nav .nav-item .nav-link {
    color: var(--white);
}

.nav-links.navbar-nav .nav-item.active,
.nav-links.navbar-nav .nav-item .nav-link:hover,
.nav-links.navbar-nav .nav-item .nav-link.active {
    opacity: 0.9;
    border: none;
}