{% extends "templates/pages/layout.html" %}

{% block style %}
<style>
	{% include "/templates/pages/contacts/index.css" %}
</style>
{% endblock %}

{% block content %}
<main>
    contacts
</main>
{% endblock %}
