{% block style %}
<style>
	{% include "/templates/includes/footer/index.css" %}
</style>
{% endblock %}

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 py-4 logo">
				<div>
					<img src="/assets/elicense/images/logo.png" />
				</div>
				<div>
					Департамент ветеринарных лекарственных средств при Министерстве водных ресурсов,
					сельского хозяйства и перерабатывающей промышленности Кыргызской Республики
				</div>
			</div>
			<div class="col-12 col-lg-8 py-4">
				{% include "/templates/includes/nav-links/index.html" %}
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-7 py-4">
				© 2023 Министерство сельского хозяйства Кыргызской Республики
			</div>
			<div class="col-12 col-lg-5 py-4 social">
				{% include "/templates/includes/social-links/index.html" %}
			</div>
		</div>
	</div>
</footer>