.footer {
    background-color: var(--custom-primary-color);
    color: var(--white);
}

.footer .logo img {
    max-width: var(--custom-logo-size);
}

.footer .social a,
.footer .navbar-nav .nav-item .nav-link {
    color: var(--white);
}
.footer .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}