<form class="px-4 py-3">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" checked disabled class="form-check-input">
            Регистрируя аккаунт Вы соглашаетесь с политикой обработки персональных данных
        </label>
    </div>
    <button type="submit" class="btn btn-primary px-3 py-2 w-100">Зарегистрировать</button>
</form>