:root {
    --custom-logo-size: 100px;
    --custom-mini-logo-size: 50px;
    --custom-primary-color: #183361;
}

.bg-primary {
    background-color: var(--custom-primary-color) !important;
}

.text-primary {
    color: var(--custom-primary-color) !important;
}

.btn.btn-primary {
    border-radius: 0;
    background-color: var(--custom-primary-color);
    color: var(--white);
}

.btn.btn-primary:hover {
    opacity: 0.9;
}
