{% block style %}
<style>
	{% include "/templates/includes/social-links/index.css" %}
</style>
{% endblock %}

<a href="#">
    <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
<a href="#">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>
<a href="#">
    <i class="fa fa-instagram" aria-hidden="true"></i>
</a>
<a href="#">
    <i class="fa fa-facebook" aria-hidden="true"></i>
</a>